body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #d0d8f0;
}

header {
    background-color: #1a2035;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #00aeff;
}

h1 {
    color: #00aeff;
}

nav {
    margin: 25px 0px 10px 0px;
}

nav a {
    text-decoration: none;
    border: 1px solid #00aeff;
    border-radius: 2px;
    color: #00aeff;
    padding: 10px 15px;
    margin: 0 10px;
}

section {
    margin: 10%;
    padding: 10px;
    text-align: center;
    border: 2px dashed #d0d8f0;
}

h2 {
    color: white;
}

section img {
    width: 50%;
}

footer {
    background-color: #1a2035;
    text-align: center;
    padding: 20px;
}
